<p id="notice"><%= notice %></p>

<table>
<caption>Friend Request</caption>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_requested.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Accept', accept_friendship_user_path(user) %></td>
        <td><%= link_to 'Decline', decline_friendship_user_path(user) %></td>  
       
       
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table>
<caption>Become Friends</caption>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Request', make_friendship_user_path(user) %></td> 
       
       
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<table>
<caption>Pending Friends</caption>
    <thead>
     <tr>
       <th colspan="3"></th>
     </tr>
   </thead>
  
    <tbody>
      <% @users_pending.each do |user| %>
        <tr>
         <td><%= user.email %></td>
  
 
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  
  <table>
  <caption>Friends</caption>
   <thead>
      <tr>
        <th colspan="3"></th>
     </tr>
    </thead>
 
   <tbody>
      <% @users_friends.each do |user| %>
      <tr>
       <td><%= user.email %></td>
       <td><%= link_to 'Remove', remove_friendship_user_path(user), :method => :delete  %></td>
 
  
      </tr>
   <% end %>
  </tbody>
 </table> 
 
 <br>

