<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @post.photo %>
  <% if @post.photo %>
  <%= image_tag @post.photo.url %>
  <% else %>
   <%= image_tag 'noimage.gif' %>
   <% end %>
</p>
<%= link_to 'Back', posts_path %>
