<script type="application/javascript">
  var ctx;
  var img;

  document.body.onload = function(){
    img = document.getElementById("original-image");
    ctx = document.getElementById("check_errors").getContext("2d");
    ctx.canvas.width = gon.width;
    ctx.canvas.height = gon.height;
    ctx.canvas.style.width = '100%';
    ctx.canvas.style.height = '100%';
    ctx.drawImage(img, 0, 0);
  }
</script>

<p id="notice"><%= notice %></p>

<p>
<strong>Photo:</strong>
<%= @post.photo %>
<% if @post.photo %>
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag @post.photo.url, class: "img-thumbnail", id: "original-image" %>
    </div>
    <div class="col-xs-6">
      <canvas id="check_errors"></canvas>
    </div>
  </div>
  <table class="table">
    <tr>
      <th class="text-center">x</th>
      <th class="text-center">y</th>
      <th class="text-center">w</th>
      <th class="text-center">h</th>
      <th class="text-center">number</th>
      <th class="text-center">link</th>
    </tr>
    <% @num_array.each do |num| %>
      <tr>
        <td><%= num[:x] %></td>
        <td><%= num[:y] %></td>
        <td><%= num[:w] %></td>
        <td><%= num[:h] %></td>
        <td><%= num[:string] %></td>
        <td><%= link_to "link", show_target_image_post_path(@post, x: num[:x], y: num[:y], w: num[:w], h: num[:h], num: num[:string]) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= image_tag 'noimage.gif', class: "img-thumbnail" %>
<% end %>
</p>
<%= link_to 'Back', posts_path %>
