<!DOCTYPE html>
<html>
  <head>
    <title>PhotoToExcel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container-fluid">
<div class="row page-header">
   <div class="col-md-6">
<h3><strong>Photo to Excel</strong></h3>
   </div>
   <div class="col-md-6 text-right"> 
       <div id="user_nav">
    <% if user_signed_in? %>
        Signed in as <%= current_user.username %>.
       <button type="button" class="btn btn-default navbar-btn"> 
        <%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %>
       </button>
    <% else %>
        <br/>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> 
 <% end %>
       </div>
   </div>
</div>
<div class="row">
    <div class="col-md-2">
<ul class="nav nav-pills nav-stacked">
   <li><%= link_to 'Photo', new_post_path %></li>
   <li><%= link_to 'My Uploads', posts_path %></li>
   <li><%= link_to 'Friends', users_path %></li>
</ul>
    </div>
    <div class="col-md-10">
<br>
<%= yield %>

</div>
</div>
 </body>
</html>
